# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# svelte
.idea
.DS_Store
.vscode
node_modules
*.map
/frontend/src/compiler/compile/internal_exports.ts
/frontend/compiler.d.ts
/frontend/compiler.*js
/frontend/build
/frontend/.svelte-kit
/frontend/package
/frontend/index.*js
/frontend/ssr.*js
/frontend/action
/frontend/internal
/frontend/store
/frontend/easing
/frontend/motion
/frontend/transition
/frontend/animate
/frontend/scratch/
/frontend/test/*/samples/_
/frontend/yarn-error.log
_actual*.*
_output
/types
.eslintcache
.env
.env.*
!.env.example
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*
